:root {
    --blue: #6495ed;
    --gray: #f8f8f8;
    --light-blue: #b8d4fc;
    --dark-red: #c30000;
    --dark-green: #07c300;
    --dark-blue: #000ec3;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-blue {
    background: var(--light-blue);
}

.bg-gray {
    background-color: var(--gray);
}

.color-red {
    color: var(--dark-red);
}

.color-green {
    color: var(--dark-green);
}

.color-blue {
    color: var(--dark-blue);
}

.logo {
    text-decoration: none !important;
    font-size: 120%;
    font-weight: 500;
    color: white;
}

.logo:hover {
    color: var(--gray);
}

body {
    background-color: var(--gray);
}

body, html {
    height: 100%;
}

.plate {
    margin: 1em 0;
    padding: 0.2em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

.title {
    padding: 0.5em 0.7em;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1.5em;
}

.description {
    padding: 1em;
    font-size: 1.1em;
}

.description-source {
    text-decoration: none !important;
    font-size: 0.9em;
    color: var(--blue);
    margin-right: 0.4em;
}

.list-title {
    font-weight: 500;
    padding: 0.7em 1em 0;
    font-size: 1.1em;
}

.list-entry {
    text-decoration: none !important;
    color: black;
    display: block;
    margin-bottom: 0.5em;
    padding: 0.2em 1em;
    font-size: 1.1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover {
    color: var(--blue);
}

a:active {
    color: var(--blue);
    opacity: 0.5;
}

.fade {
    transition-duration: 0ms !important;
}

code[class*=language-], pre[class*=language-] {
    background: white !important;
}

.nav-link {
    color: black;
}

.nav-link:active {
    color: var(--blue);
}

.nav-link:hover {
    color: var(--blue);
}

.active {
    background-color: var(--blue) !important;
    border-radius: 1em;
}

hr {
    margin: 1em;
}

.nav-link {
    margin: 0 1em;
    text-align: start;
}

.description-label {
    font-size: 1.1em;
    font-weight: 500;
}

.category {
    font-size: 0.9em;
    text-decoration: none !important;
    color: var(--blue);
    vertical-align: middle;
    padding: 0.5em 0;
}

.inline-category {
    display: inline-block;
}

.search-bar {
    width: 33%;
}

.footer {
    height: 2em;
    background-color: var(--gray);
}

.wrapper {
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 195px;
    height: 195px;
}

.grid-element {
    align-self: center;
    justify-self: center;
    width: 33px;
    height: 33px;
    border-radius: 0.2em;
}

.selected-grid-element {
    align-self: center;
    justify-self: center;
    width: 37px;
    height: 37px;
    animation: scaleElement 0.4s forwards;
}

.small-selected-grid-element {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 33px;
    height: 33px;
    animation: scaleElementABit 0.2s forwards;
}

@keyframes scaleElement {
    0% {
        transform: scale(1.0);
        border: 2px solid red;
        border-radius: 0.3em;
    }
    100% {
        transform: scale(1.5);
        border: 2px solid red;
        border-radius: 0.3em;
    }
}

@keyframes scaleElementABit {
    0% {
        transform: scale(1.0);
        border: 1px solid red;
        border-radius: 0.3em;
    }
    100% {
        transform: scale(1.2);
        border: 1px solid red;
        border-radius: 0.3em;
    }
}

.btn-arrows {
    margin-left: 1em;
    margin-bottom: 1em;
    padding-left: 0.2em;
}

.pixel-info {
    margin-left: 1em;
}

.large-element {
    margin: 0.1em;
    width: 51px;
    height: 51px;
    border-radius: 0.3em;
}

.color-code {
    margin-top: 1em;
    margin-left: 0.2em;
    font-size: 1.1em;
}

::selection {
    background: var(--light-blue);
}

.math-left-align .mjx-chtml.MJXc-display {
    text-align: left !important;
}

.formula {
    margin: 0.1em;
}

.bright {
    border-radius: 0.2em;
    border: 1px solid lightgray;
}

@font-face {
    font-family: 'MathJax';
    src: url('/static/fonts/MathJax_Main-Regular.otf') format('opentype');
}

.mathjax-font {
    font-family: MathJax, sans-serif;
    font-size: 1.2em;
}

.instructions {
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 1.7em auto;
}

.instruction-number {
    background-color: var(--blue);
    border-radius: 5em;
    color: white;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.7em;
}

.instruction {
    margin-left: 0.5em;
    align-items: center;
}

.instruction-formula {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.image-element {
    max-height: 20em;
}

.sources {
    padding: 1em;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 1.7em auto 1.7em;
}

.source-text {
    padding: 0 0.5em;
}

.kernel-value {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.6em;
    margin-top: 0.15em;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    padding: 0.5em;
}

.card-image {
    width: 5.5em;
    height: 5.5em;
    border-radius: 0.5em;
    margin: 0.5em 0.625em 0.2em 0.2em;
    float: left;
}

.card-title {
    font-weight: 700;
    font-size: 1.2em;
}

.card-text {
    max-height: 100px;
    margin-right: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.tag-container {
    margin-top: 0.2em;
}

.tag {
    color: var(--blue);
    background-color: #F6F6F6;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.entry-element {
    display: inline-block;
    margin: 0.5em;

}

.entry-element img {
    border-radius: 0.5em;
    width: 4em;
    height: 4em;
}

.entry-text {
    font-weight: 700;
    font-size: 1.1em;
}

.search-group {
    text-align: center;
    vertical-align: middle;
    margin: 1em 0;
}

.search {
    height: 2.5em;
    width: 20em;
    font-size: 1.1em;
    display: inline-block;
    vertical-align: middle;
}

.search-group button {
    height: 2.5em;
    font-size: 1.1em;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.last-modified-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.last-modified-article .description {
    grid-column: 1;
    grid-row: 1;
}

.last-modified-article .img-fluid {
    text-align: center;
    margin-top: 1.5em;
    grid-column: 2;
    grid-row: 1;
}

.last-modified-article .image {
    border-radius: 0.5em;
}

.open-btn {
    color: white;
    width: 4em;
}

.open-btn:hover {
    color: white;
}

.invisible-formulas {
    display: none;
}

.visible-formulas {
    display: block;
}

.question-text {
    padding: 1em;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 1.7em auto;
}

.answer {
    font-size: 1.1em;
    margin: 0 0 1em 3.2em;

}

.form-check-input {
    width: 0.9em;
    height: 0.9em;
    margin-top: 0.3em;
}

.form-check-input:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-finish {
    background: var(--blue);
    font-size: 1.1em;
    color: white;
    padding: 0.5em 2em;
}

.btn-finish:hover {
    color: white;
}

.btn-finish:active {
    color: white;
}

.fader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.5);
}

.modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2em;
    width: 50em;
}

.modal-answer {
    margin: 0.5em 0 0.5em 0.5em;
}