:root {
    --blue: #6495ed;
    --gray: #f8f8f8;
    --light-blue: #b8d4fc;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-gray {
    background-color: var(--gray);
}

.logo {
    text-decoration: none !important;
    font-size: 120%;
    font-weight: 500;
    color: white;
}

.logo:hover {
    color: var(--gray);
}

body, html {
    height: 100%;
}

.plate {
    margin: 1em 0;
    padding: 0.2em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

.title {
    padding: 0.5em 0.7em;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1.5em;
}

.description {
    padding: 1em;
    font-size: 1.1em;
}

.description-source {
    text-decoration: none !important;
    font-size: 0.9em;
    color: var(--blue);
    margin-right: 0.4em;
}

.list-title {
    font-weight: 500;
    padding: 0.7em 1em 0;
    font-size: 1.1em;
}

.list-entry {
    text-decoration: none !important;
    color: black;
    display: inline-block;
    margin-bottom: 0.5em;
    padding: 0 1em;
    font-size: 1.1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fade {
    transition-duration: 0ms !important;
}

code[class*=language-], pre[class*=language-] {
    background: white !important;
}

.active {
    background-color: var(--blue) !important;
    border-radius: 1em;
}

hr {
    margin: 1em;
}

.nav-link {
    margin: 0 1em;
    text-align: start;
}

.description-label {
    font-size: 1.1em;
    font-weight: 500;
}

.category {
    font-size: 0.9em;
    text-decoration: none !important;
    color: var(--blue);
    vertical-align: middle;
    padding: 0.5em 0;
}

.inline-category {
    display: inline-block;
}

.search-bar {
    width: 33%;
}

ol li {
    padding-left: 0.5em;
}

.footer {
    height: 2em;
    background-color: var(--gray);
}

.wrapper {
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 195px;
    height: 195px;
}

.grid-element {
    align-self: center;
    justify-self: center;
    width: 33px;
    height: 33px;
    border-radius: 0.2em;
}

.selected-grid-element {
    align-self: center;
    justify-self: center;
    width: 37px;
    height: 37px;
    animation: scaleElement 0.4s forwards;
}

@keyframes scaleElement {
    0% {
        transform: scale(1.0);
        border: 2px solid red;
        border-radius: 0.3em;
    }
    100% {
        transform: scale(1.5);
        border: 2px solid red;
        border-radius: 0.3em;
    }
}

.btn-arrows {
    margin-left: 1em;
    margin-bottom: 1em;
    padding-left: 0.2em;
}

.pixel-info {
    margin-left: 1em;
}

.large-element {
    margin: 0.1em;
}

.color-code {
    margin-top: 1em;
    margin-left: 0.2em;
    font-size: 1.1em;
}

::selection {
    background: var(--light-blue);
}

.math-left-align .mjx-chtml.MJXc-display {
    text-align: left !important;
}

.formula {
    margin: 0.1em;
}

.bright {
    border-radius: 0.2em;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

@font-face {
    font-family: 'MathJax';
    src: url('/static/fonts/MathJax_Main-Regular.otf') format('opentype');
}

.mathjax-font {
    font-family: MathJax, sans-serif;
    font-size: 1.2em;
}

.instructions {
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 1.7em auto;
}

.instruction-number {
    background-color: var(--blue);
    border-radius: 5em;
    color: white;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.7em;
}

.instruction {
    margin-left: 0.5em;
    display: flex;
    align-items: center;
}

.instruction-formula {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.image-element {
    max-height: 20em;
}