<head>
    <meta charset="utf-8">
    <title>
        {{ title }}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/prism.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>