<head>
    <meta charset="utf-8">
    <title>
        {{ title }}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/prism.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <script src="https://kit.fontawesome.com/e4024e79db.js" crossorigin="anonymous"></script>
</head>