{% load static %}
<!doctype html>
<html lang="en">
{% block title %}{% include 'head.html' with title="Imagenie — алгоритмы обработки изображений" %}{% endblock %}

<body>
<nav class="navbar bg-blue">
    <div class="container-fluid">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-flex justify-content-between">
                <div class="my-2">
                    <a class="logo" href="/">IMAGENIE</a>
                </div>
                <form class="d-flex justify-content-end" action="/search" method="get">
                    <input class="form-control me-2 search-bar" type="search"
                           placeholder="Введите название алгоритма" name="key" id="search-input">
                    <button class="btn btn-outline-light" type="submit">Найти</button>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row bg-gray">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="plate mt-5">
                <div class="title">Последняя обновленная статья — {{ last_modified_article.title }}</div>
            </div>
            <div class="plate">
                <div class="last-modified-article">
                    <div class="description">
                        {{ short_theory }}
                        <div class="text-end">
                            <a class="description-source"
                               href="articles/{{ last_modified_article.id }}">Подробнее</a>
                        </div>
                    </div>
                    <img class="img-fluid image" src="{% static last_modified_article.image_after %}"
                         alt="Processed image">
                </div>
            </div>


            <div class="plate mt-3">
                <div class="title">Алгоритмы</div>
            </div>

            <div>
                {% for article in articles %}
                    <div class="plate my-2">
                    <span class="entry-element">
                        <img src="{% static article.image_after %}" alt="">
                    </span>
                        <a class="entry-element entry-text text-decoration-none text-black"
                           href="articles/{{ article.id }}">{{ article.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    {% include 'footer.html' %}
</div>

<script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static '../static/js/prism.js' %}"></script>
<script src="{% static '../static/bootstrap/js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
</body>

</html>